@import "../base.scss";

.navigation {
  width: 100%;
  position: fixed;
  padding: 2em 0;
  top: 0;
  z-index: 10;

  font-family: "Montserrat", sans-serif;

  .container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;

    .toggle_button {
      display: none;
    }

    .nav_list {
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 500px;
      max-width: 90%;
      font-size: 0.9rem;

      // border: 2px solid red;

      .nav_item {
        color: white;
        text-decoration: none;
      }
      .nav_item.bold {
        font-weight: 800;
        font-size: 1.1em;
      }
      .nav_button {
        color: white;
        background-color: #a4161a;
        border: none;
        outline: none;
        padding: 0.75em 1em;
        border-radius: 5px;

        font-size: 0.9rem;
      }
    }

    &.dark {
      color: black;
      .nav_item {
        color: black;
      }
    }
  }

  &.scroll {
    visibility: hidden;
  }

  @include respon("tb-pot") {
    .container {
      justify-content: flex-end;

      .toggle_button {
        display: block;
      }
      h1 {
        display: none;
      }
      .nav_list {
        display: none;
      }
    }

    &.mobile_active {
      .container {
        width: 500px;
        max-width: 90%;
        height: 100vh;
        padding: 1rem 2rem;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #f5f3f4;

        .toggle_button {
          position: absolute;
          top: 1.25rem;
          right: 1rem;
        }
        h1 {
          display: block;
          font-size: 2rem;
          margin-bottom: 2rem;
        }
        .nav_list {
          display: flex;
          flex-direction: column;

          .nav_item {
            margin-bottom: 1em;
            font-size: 1.8rem;
          }
          .nav_button {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
