@import "../base.scss";

.review_card {
  width: 280px;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  overflow: hidden;

  .image {
    width: 100%;
    height: 180px;
    background-color: lightgray;
  }

  .info {
    padding: 1em 2em;

    p {
      font-family: "Pridi", serif;
      font-weight: 300;
      font-size: 0.9rem;
      margin-bottom: 1em;
    }

    h4 {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 1.1rem;
      margin-bottom: 0.25em;
    }

    h5 {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-style: italic;
      font-size: 1.1rem;
      color: #676767;
    }
  }

  @include respon(desktop-small) {
    width: 240px;

    .image {
      height: 140px;
    }

    .info {
      p {
        font-size: 0.8rem;
      }
      h4 {
        font-size: 1rem;
      }
      h5 {
        font-size: 0.9rem;
      }
    }
  }

  @include respon(tb-pot) {
    min-width: 200px;

    .info {
      p {
        font-size: 0.6rem;
      }
      h4 {
        font-size: 0.8rem;
      }
      h5 {
        font-size: 0.7rem;
      }
    }
  }
}
